.formWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}



.formTitle {
    text-align: center;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

.createRecipeForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 2em;
    width: 100%;
    height: 100%;
}

.createRecipeForm .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.createRecipeForm .selectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
}



.createRecipeForm .selectors .inputs {
    text-align: center;
    gap: 0.5em;
    justify-content: center;
    align-items: stretch;
}



.createRecipeForm .inputs input,
select,
textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.createRecipeForm .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}



.createRecipeForm .buttons button {
    padding: 0.5em 2em;
    font-size: inherit;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

.createRecipeForm .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    cursor: pointer;
}

@media (min-width: 768px) {
    .formWrapper {
        padding: 30px;
    }

    .createRecipeForm .selectors {
        flex-direction: row;
        max-width: 600px;
        gap: 3em;
    }


}

@media (min-width: 992px) {
    .formWrapper {
        padding: 40px;
    }
}