@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html,
body {
    height: 100%;
    background-color: rgb(248, 238, 225);
    color: rgb(38 38 38);
    font: 16px "Montserrat", sans-serif;
}

body,
form,
input,
textarea,
option,
select,
button {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}



h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}





#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#main-content {
    flex: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.site-header {
    min-width: 100%;
    position: relative;
    color: inherit;
    background-color: rgb(38 38 38);
    min-height: 80px;
    color: rgb(248, 238, 225);
}

.site-header-home {
    min-width: 100%;
    background-image: url("..//images/banner-small2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    position: relative;
    color: rgb(248, 238, 225);
}


.site-footer {
    min-width: 100%;
    flex: 0;
    padding: 0.4em;
    margin-top: 40px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    background-color: rgb(38 38 38);
    color: rgb(248, 238, 225);
}



/* DEMO - DELETE LATER */


.site-header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    gap: 0.5em;
    color: inherit;
    font-weight: bold;
}

.site-header-home nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    gap: 0.5em;
    color: rgb(248, 238, 225);
    font-weight: bold;
}







.site-header nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.site-header nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.site-header-home nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.site-header-home nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .logo {
    font-size: 1.6em;
}

.site-header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1em;
    margin-top: 1em;
}

.site-header-home nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1em;
    margin-top: 1em;
}


.banner {
    visibility: hidden;
    color: rgb(248, 238, 225);
    position: absolute;
    top: 40%;
    left: 5%;
}



.error {
    font-style: italic;
    font-size: 0.5em;
}



@media (min-width: 380px) {
    .site-header nav ul {
        flex-direction: row;
        gap: 0.3em;
    }

    .site-header-home nav ul {
        flex-direction: row;
        gap: 0.3em;
    }
}



@media (min-width: 450px) {
    .site-header nav ul {
        gap: 0.7em;
    }

    .site-header-home nav ul {
        gap: 0.7em;
    }

    .site-header nav a {
        padding: 0.5em 1em;
    }

    .site-header-home nav a {
        padding: 0.5em 1em;
    }

    .site-header nav ul {
        gap: 0.5em;
    }

    .site-header-home nav ul {
        gap: 0.5em;
    }

}


@media (min-width: 768px) {
    body {
        font-size: 20px;
    }

    .site-header nav {
        flex-direction: row;
        padding: 1em;
    }

    .site-header-home nav {
        flex-direction: row;
        padding: 1em;
    }


    .banner {
        visibility: visible;
    }

    #main-content {
        max-width: 90%;
    }

    .error {
        font-style: italic;
        font-size: 0.8em;
    }

}


@media (min-width: 992px) {
    body {
        font-size: 20px;
    }

    .site-header nav ul {
        gap: 1em;
    }

    .site-header-home nav ul {
        gap: 1em;
    }


    .site-footer {
        font-size: 1.2rem;
    }

    .site-header-home {
        background-image: url("..//images/banner.jpg");
        height: 700px;
    }

    .banner {
        left: 10%;
    }

    .error {
        font-style: italic;
        font-size: 0.8em;
    }


}


@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }

    .site-header nav ul {
        gap: 1em;
    }

    .site-header-home nav ul {
        gap: 1em;
    }

    .error {
        font-style: italic;
        font-size: 0.8em;
    }

}



@media (min-width: 1900px) {
    body {
        font-size: 24px;
    }

    .site-header-home {
        background-image: url("..//images/banner.jpg");
        height: 1000px;
    }

    .error {
        font-style: italic;
        font-size: 0.8em;
    }

}